In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('play_tennis.csv')
data.head()
data.drop(columns=['day'],inplace=True)

In [3]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [4]:
#P(YES) P(NO)
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [5]:
pn=5/14
py=9/14

In [6]:
py

0.6428571428571429

In [7]:
#oulook

In [8]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [9]:
prn=2/5
psn=3/5
pon=0

pry=3/9
psy=2/9
poy=4/9

In [10]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [11]:
psrn=3/5
psry=3/9
pwn=2/5
pwy=6/9

In [12]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
pcn=1/5
phn=2/5
pcy=3/9
pmn=2/5
pmy=4/9
phy=2/9

In [14]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
phiy=3/9
pny=6/9
phin=4/5
pnn=1/5

In [16]:
#ou=sunny,wind=weak,emp=high & humid=high

In [17]:
pyes=py*psy*pwy*phiy*phy

In [18]:
pyes

0.007054673721340388

In [19]:
pno=pn*psn*phin*phn*pwn

In [20]:
pno

0.02742857142857143

In [21]:
pn

0.35714285714285715

In [22]:
phin

0.8